---
import { langSelector } from '@/utils/lang-selector'
import { labels } from '@/i18n/404/config'

import { getRelativeLocaleUrl } from 'astro:i18n'

import { Picture } from 'astro:assets'
import beatrice from '@/assets/beatrice.webp'

import BaseLayout from '@/layouts/BaseLayout.astro'

const { currentLocale = 'es' } = Astro
const { SEO, CONT } = langSelector({ currentLocale, labels })
---

<BaseLayout title=`${SEO.TITLE_1} · ${SEO.TITLE_2}` description={SEO.DESC}>
  <section class="grid w-full place-items-center gap-8">
    <h3 class="text-3xl text-title">{CONT.TITLE}</h3>
    <Picture
      src={beatrice}
      formats={['avif']}
      width={320}
      quality={90}
      fetchpriority="high"
      class="[mask-image:linear-gradient(black_80%,transparent)]"
      alt=""
    />
    <p class="text-xl text-text" set:html={CONT.DESC} />

    <a
      href={getRelativeLocaleUrl(currentLocale)}
      class="font-bold tracking-wide text-label transition-transform hover:scale-110"
    >
      {CONT.BTN}
    </a>
  </section>
</BaseLayout>
