---
import type { I18NSection, HomeLangProfile } from '@/types/i18n.type'

import { Picture } from 'astro:assets'
import photos from '@/assets/photo_1.jpg'
import LocationIcon from '@icons/current-location.svg'

import { Icon } from 'astro-icon/components'

import EmailBtn from '@comp/ui/EmailBtn.astro'

type Props = I18NSection<HomeLangProfile>

const { LANG } = Astro.props
---

<section
	class="flex w-full flex-col justify-between py-16 ps-8 sm:w-fit lg:sticky lg:top-0 lg:col-span-2 lg:max-h-screen lg:ps-14"
>
	<article class="w-full space-y-3">
		<header class="text-start">
			<Picture
				src={photos}
				formats={['avif', 'webp']}
				pictureAttributes={{ class: 'size-[120px]' }}
				class="rounded-xl"
				loading="eager"
				width={120}
				height={120}
				alt=""
			/>

			<h1 class="mt-7 text-3xl font-bold text-title">{LANG.NAME}</h1>
			<h3 class="text-lg font-medium text-accent">{LANG.LABEL}</h3>
			<p class="mt-1.5 text-text">{LANG.DESC}</p>
		</header>

		<div class="mt-0.5 flex items-center gap-2 text-text">
			<LocationIcon size={16} />
			{LANG.LOCATION.join(', ')}.
		</div>

		<EmailBtn text={LANG.EMAIL} />

		<ul class="inline-flex items-center gap-2">
			{
				LANG.ACCOUNTS.map(({ LABEL, NAME, URL, ICON }) => (
					<li class="inline-flex">
						<a
							href={URL === 'mailto:' ? `${URL}${LANG.EMAIL}` : URL}
							class="rounded-md p-1 text-accent transition-colors hover:bg-accent hover:text-white"
							aria-label={LABEL}
							title={NAME}
							target="_blank"
							rel="noopener noreferrer"
						>
							<Icon name={ICON} size={26} />
						</a>
					</li>
				))
			}
		</ul>
	</article>

	<footer></footer>
</section>
