---
import type { SEOProps as Props } from '@/types/layouts.type'

import { defaultLang } from '@/utils/lang-selector'
import { filterLang } from '@/utils/lang-utils'

import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url'

const { currentLocale = 'es' } = Astro
const otherLangs = filterLang(currentLocale, false)
const { title, description, url } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<link rel="preload" as="font" type="font/woff2" href={inter} crossorigin="anonymous" />
<link rel="icon" type="image/webp" href="/icon.webp" />
<meta name="description" content={description} />

{
	Object.entries(otherLangs).map(([key, lang]) => (
		<link rel="alternate" href={`${Astro.url.origin}/${key}`} hreflang={lang.hreflang} />
	))
}
<link rel="canonical" href={`${Astro.url.origin}/${defaultLang}`} />

<!-- Facebook Meta Tags -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/og-image.webp" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="doki-doki-plus-clone.vercel.app" />
<meta property="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/og-image.webp" />
