---
import type { SEOProps as Props } from '@/types/layouts.type'

import { languageList, defaultLang } from '@/utils/lang-selector'

import { ClientRouter } from 'astro:transitions'

import inter from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url'

const { title, description } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<link rel="preload" as="font" type="font/woff2" href={inter} crossorigin="anonymous" />
<link rel="icon" type="image/webp" href="/icon.webp" />
<meta name="description" content={description} />

<link rel="canonical" href={`${Astro.url.origin}/${defaultLang}`} />
{
	Object.entries(languageList).map(([key, lang]) => (
		<link rel="alternate" href={`${Astro.url.origin}/${key}`} hreflang={lang.hreflang} />
	))
}

<ClientRouter />

<!-- Facebook Meta Tags -->
<meta property="og:url" content={Astro.url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/og-image.webp" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.origin} />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/og-image.webp" />
